<div class="dropdown">
    <button class="dropdown__btn">Кнопка</button>
    
    <div class="dropdown__body">
        <button class="dropdown__item" onclick="replaceMainButton(this, '1')">NUM-1</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '1')">NUM-2</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '1')">NUM-3</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '1')">NUM-4</button>
    </div>
</div>


<div class="dropdown">
    <button class="dropdown__btn">Кнопка</button>
    
    <div class="dropdown__body">
        <button class="dropdown__item" onclick="replaceMainButton(this, '2')">NUM-1</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '2')">NUM-2</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '2')">NUM-3</button>
        <button class="dropdown__item" onclick="replaceMainButton(this, '2')">NUM-4</button>
    </div>
</div>
