<!-- Form -->

<form class="contact-form" id="contact-form" method="post" action="send.php" onsubmit="return validate_form ( );">
    <!-- Name Field -->
    <label></label>
    <input name="name" type="text" placeholder="Name" required/>

    <!-- Email Field -->
    <input name="email" type="text" placeholder="Email" required/>

    <!-- Phone Field -->
    <input name="phone" type="text" placeholder="Phone" required/>

    <!-- Message Field -->
    <textarea name="textarea" rows="3" cols="20" placeholder="Message"></textarea>

    <!-- Submit Button -->
    <button type="submit">Button</button>
</form>
