<a id="btn1" class="modal__btn">MODAL BTN</a>

<div id="modal1" class="modal mfp-hide">
    <div class="modal__wrapper">
        <div class="modal__top">
            <p class="modal__title">TITLE</p>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    
        <div class="modal__content">
            <p class="modal__text">TEXT TEXT TEXT</p>
        </div>
    </div>
</div>




<!-- WARNING WARNING WARNING -->
<!-- ПАПКУ MAGNIFIC СКОПИРОВАТЬ В BUILD -->

<link rel="stylesheet" href="./magnific/magnific-popup.css">
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="./magnific/jquery.magnific-popup.min.js"></script>