.about {
    background-image: url(../img/Cone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    position: relative;

    &::before {
        content: "";
        background-image: url(../img/pandafx.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        left: 0;
        top: 0;
        width: 100%;
        height: 700px;
        position: absolute;
    }

    // .about__wrapper

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 170px;

        @media (max-width:992px) {
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 20px;
            margin-top: 120px;
            margin-top: 50px;
        }

        img {
            position: absolute;
            top: -157px;
            right: 34%;
            z-index: 2;
            width: 600px;

            @media (max-width:992px) {
                display: none;
            }
        }
    }

    &__left {
        position: relative;
        background-image: url(../img/panda-text.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #5DE8DC;

        width: 100%;
        max-width: 840px;
        border-radius: 25px;
        height: 380px;

        @media (max-width:480px) {
            height: 320px;


        }
    }

    &__right {
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        padding: 30px;
        top: 0px;
        left: -90px;
        padding-left: 200px;

        @media (max-width:992px) {
            position: relative;
            padding: 20px;
            width: max-content;
            left: 0px;
            gap: 20px;
            top: -150px;
        }

        @media (max-width:480px) {
            width: 100%;
            position: static;
        }
    }

    &__title {
        // обо мне
        color: #5DE8DC;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__text {
        // Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти<br/>случайным образом от двух до десяти
        color: #3B3B3B;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        word-wrap: break-word;
        width: 100%;
        max-width: 400px;
    }
}